<mat-toolbar>

        <a [routerLink]="'/'" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>dashboard</mat-icon>
        </a>
        <span>My CTB Site</span>
        <span class="example-spacer"></span>

        <a [routerLink]="'/login'" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            Iniciar Sesión
        </a>
        <a [routerLink]="'/signup'" mat-icon-button class="example-icon favorite-icon mr100 ml200" aria-label="Example icon-button with heart icon">
            Registrarse
        </a>
        
</mat-toolbar>
